:root {
  --color-scheme: light-dark;
  --back-color: rgb(250, 248, 248);
  --header-color: #141E61; 
}

.blog-img img {
  width: 6rem;
  border-radius: 100%;
}

.blog-title h3{
  vertical-align: middle;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  background-color: light-dark;
  color: white;
}

body{
 background: #082032;
}

.header-text {
  display: flex;
}

ul {
  margin: auto;
  list-style: none;
  margin-right: 0;
  display: flex;
}

ul li {
  padding-left: 1rem;
}

header {
  width: 80%;
  flex: 1 0 auto;
  justify-content: center;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--header-color);
}

.blog-post {
  margin-bottom: 2rem;
  width: 100%;
}

.post-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.post-title {
  flex: 1 0 auto;
}

.post-date {
  margin-right: 0;
}

main {
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
}

.post-details {
  float: right;
}

.menu {
  display: flex;
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}

.menu-item,
.menu-last-item{
  text-decoration: none;
}

.menu-item{
  margin-right: 1rem;
}

.menu-last-item {
  margin-left: auto;
}

footer {
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}

.footer-text {
  position: fixed;
  bottom: 0;
}


#input {
  transform: translateX(-50%);
}
