* {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

#bd {
  height: 100%;
}

#ac {
  height: auto;
}

main {
  min-height: 80vh;
}

body {
  display: flex;
  flex-direction: column;
}

.all-content {
 height: 100vh;
 background-color: whitesmoke;
 flex-direction: column;
 display: flex;
}

/* Header */

.header-intro q {
  display: flex;
  max-width: 850px;
}

.header-switcher {
  display: flex;
  flex-wrap: wrap;
}

.header-social-media ul {
  margin: auto;
  list-style: none;
  margin-right: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.post-content {
  font-style: normal;
}

.header-social-media ul li {
  padding-left: 1rem;
}

.header-social-media i {
  color: blue;
}

label .select-area{
  width: 26px;
  height: 14px;
}

.switch-selector {
  display: flex;
}

header {
  align-items: center;
  margin: .5em auto;
  width: 80%;
}

.header-info {
  display: flex;
  height: 100px;
  padding: .8rem;
  align-items: center;
}

.three-dots {
  margin-top: 1rem;
  display: none;
}

.header-switcher {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.header-info img {
  padding: .7em;
}

.header-content nav {
  display: flex;
  margin: 1rem auto;
  width: 100%;
  background-color: lightgray;
}

.header-intro q {
  margin-top: .3rem;
  width: 850px;
}

.profile-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.nav-items {
  height: 30px;
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 5px;
  font-style: normal;
}

.header-content nav .nav-left {
  display: flex;
}

.header-content nav .nav-left {
  width: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-self: flex-start;
}

.header-content nav .nav-right {
  width: 100%;
}

.header-content nav .nav-right {
  display: flex;
  width: 90%;
  justify-content: flex-end;
  margin-right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header-content nav section {
  width: 80px;
  text-align: center;
}

.header-content a {
  text-decoration: none;
  color: blue;
}

.switch-rectangle {
  background-color: lightsteelblue;
  margin-left: 1rem;
  display: flex;
  height: 14px;
  width: 26px;
  border-radius: 39%;
}

.switch-selector {
  padding-left: .1em;
  position: relative;
  border-radius: 100%;
  background-color: white;
  height: 14px;
  width: 14px;
  left: -2%;
  transition: left .5s ease-in-out;
}

.header-intro {
  width: 300px;
}

/* Main */

.main-content code {
  color: black;
  font-weight: bold;
}

.main-content pre {
  padding: .5rem;
  color: lightgray;
  border-radius: .3rem;
  background-color: #dbe9f4 !important;
  overflow-x: scroll;
}

#ac .highlight pre {
  overflow-x: scroll;
}

#ac .highlight pre code span {
}

.search-field {
  width: 300px;
  margin: auto;
  margin-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
}

.search-field i {
  position: absolute;
  padding-left: 1rem;
  color: grey;
}

.search-field input {
  width: 100%;
  height: .7rem;
  padding: .4rem;
  padding-left: 3rem;
  background-color: whitesmoke;
  border-radius: 5px;
}

.search-field input:focus {
  background-color: white;
  outline: none;
}

.post-content-details > p {
  margin-top: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
}

.post-content-details > h1,h2,h3,h4 {
  margin-top: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
}

.post-content-details {
  width: 80%;
  margin: auto;
}

.post-content-details {
  padding-top: .5em;
}

.post-details {
  padding-top: 2rem;
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disqus-tag {
  padding: 1rem;
  border-radius: 1rem;
  background-color: lightgray;
  margin-bottom: 1rem;
}

.table-contents {
  display: none;
  margin-top: 1rem;
  font-style: normal;
  padding-bottom: 1.5rem;
  background-color: lightgray;
  border-radius: 1rem;
}

.post-content {
  padding: 1rem;
  border-radius: .3rem;
  border: solid;
  border-width: 1px;
  margin: auto;
}

.table-contents ul {
  list-style: none;
  margin: 1rem;
}

h1 {
  font-style: normal;
}

.main-content {
  position: relative;
  margin-top: 1.5rem;
}

.menu-table h3 {
  text-align: center;
  margin: .8rem 0 1rem;
}

.table-contents h3 {
  text-align: center;
  margin: .8rem 0 1rem;
}

.table-contents ul {
  margin: 0;
  padding-left: 1.4rem;
}

.table-contents {
  padding-bottom: 2rem;
}

#pc p {
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.menu-table {
  font-style: normal;
  display: none;
  background-color: lightgray;
  height: 300px;
  align-items: center;
  justify-self: center;
  width: 300px;
  right: 0;
  flex-direction: column;
  vertical-align: middle;
  border-radius: 0.6rem;
  overflow-y: auto;
  position: fixed;
  align-self: center;
  top: 25%;
  transform: translateX(0%, 50%);
  z-index: 1;
}

.post-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 1rem auto;
  width: 80%;
}


.post-summary {
  padding-top: 1rem;
  max-height: 80px;
  overflow: hidden;
}

.disqus-tag {
  width: 80%;
  margin: auto;
}

.post-related {
  justify-content: space-between;
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

.related-tags {
  max-width: 50%;
}

.read-more {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-item {
  padding: 0.5rem;
}

.related-tags {
  display: flex;
  flex-wrap: wrap;
}

/* Footer */
footer {
  margin-top: 2rem;
  font-style: normal;
  border-radius: 3%;
  display: flex;
  height: 20px;
  width: 100%;
  display: flex;
  align-self: center;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 12px;
  color: blue;
}

/* Media Queries */
@media screen and (max-width: 360px) {
  .header-info {
	  display: flex;
  }

  .header-intro {
	  display: none;
  }
}

@media screen and (max-width: 860px) {
  /*Prevent image content from  a post to overflow*/
  .post-content-details  {
	overflow: auto;
  }

  .header-intro q {
    display: none;
  }

  .header-switcher {
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
  }

  .header-social-media {
    margin-bottom: 2rem;
  }

  .switch-rectangle {
    margin-right: 1rem;
  }

  .table-contents {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    width: 100%;
  }

  .table-contents h3 {
    margin-bottom: 1rem;
  }
}

.table-contents ul li {
}

.table-contents ul li ul {
  display: block;
}

@media screen and (max-width: 550px) {
  .header-social-media ul li {
    padding: 0.15rem;
  }

  .header-content nav .nav-left a {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .nav-items {
    height: 0;
  }

  #ac {
    height: 200%;
    display: flex;
  }

  body {
    height: 100vh;
  }

  #content section {
    width: 100%;
  }
  
  #content a {
    border-bottom: 1px solid;
    border-color: lightsteelblue;
  }

  .header-content nav .nav-left {
    width: 100%;
    flex-direction: column;
  }

  .three-dots {
    display: block;
  }

  .header-content nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* dropdown related coed*/
  #show {
    display: none;
  }

  #show, #content {
    overflow: hidden;
    height: 0;
    transition: height .8s ease-in-out;
  }

  #content {
    white-space: none;
    text-overflow: hidden;
  }

  #show:checked ~ .nav-items {
    height: 85px;
    opacity: 1;
  }

  .three-dots {
    width: 100%;
    text-align: center;
    border-color: lightblue;
  }

  .nav-items {
    width: 100%;
    text-align: center;
  }

  #content .nav-right {
    width: 100%;
    justify-content: center;
  }
}

/* On Select Styles */

#switch {
  display: none;
}

#switch:checked ~ #ac #sr .switch-selector {
  left: 45%;
  transition: left .5s ease-in-out;
  background-color: #F4FF8D;
}

#switch:checked ~ #ac .disqus-tag {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #111118;
  margin-bottom: 1rem;
}

#switch:checked ~ #ac #sr {
  background-color: black;
}

#switch:checked ~ #ac .switch-selector-small-circle {
  width: 11px;
  height: 10px;
  margin-top: 0px;
  margin-left: -2px;
  border-radius: 94%;
  background-color: black;
}

#switch:checked ~ #ac {
  background-color: #111118;
  color: lightsteelblue;
}

#switch:checked ~ #ac .nav-items {
  background-color: #080a3f;
}

#switch:checked ~ #ac .menu-table {
  background-color: #111118;
}

#switch:checked ~ #ac .table-contents {
  background-color: #080a3f;
}

#switch:checked ~ #ac .table-contents a {
  color: lightsteelblue;
}

#switch:checked ~ #ac .main-content pre {
  background-color: #080a3f !important;
}

#switch:checked ~ #ac code {
  color: lightsteelblue;
}

#switch:checked ~ #ac .main-content pre code {
  color: lightsteelblue;
}

#switch:checked ~ #ac .nav-items a {
  color: lightsteelblue;
  background-color: #080a3f;
}


/* Dropdown */
#show {
  display: none;
}

#show, #content {
  overflow: hidden;
  transition: height .8s ease-in-out;
}

.main-tags {
  width: 80%;
  margin: auto;
  padding-left: 1.5rem;
}
