<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
  <body id="bd">
    <input id="switch" type="checkbox">
    <div class="all-content" id="ac">
    <header>
      <div class="header-content">
      <div class="header-info">
        <div class="profile-img">
	  <img src="/imgs/berg.png">
        </div>
        <div class="header-intro">
          <h2>
           {{ .Site.Title }}
          </h2>
          <q id="quote">
            {{ .Site.Params.homeText }}
          </q>
        </div>
        <div class="header-switcher">
          <div class="header-social-media">
            <ul>
              <li>
                <a target="_blank" href="mailto:vsaller@yahoo.com" title="Email me">
                  <i class="fas fa-envelope fa-lg">
                  </i>
                </a>
              </li>
            </ul>
          </div>
          <div id="sr" class="switch-rectangle">
              <label for="switch">
                <div class="select-area">
                    <div class="switch-selector">
                      <div class="switch-selector-small-circle">
                      </div>
                    </div>
                </div>
              </label>
          </div>
        </div>
      </div>
      <input id="show" type="checkbox">
      <label for="show">
        <div class="three-dots">
          <i class="fas fa-ellipsis-h fa-lg"></i>
        </div>
      </label>
      {{ partial "nav.html" . }}
      </div>
    </header>
    <main id="main">
     {{ block "main" . }}{{ end }}
    </main>
    <footer>
      <p>
        2024 | Copyright: me | Rendered by hugo
      </p>
    </footer>
    </div>
  </body>
</html>
