{{ define "main" }}
{{ $script := "js/search.js" | relURL }}
<script type="text/javascript" src="{{ $script }}"></script>

<div class="search-field">
  <i class="fa fa-search fa-lg"></i>
  <input id="input" class="search-text" type="text" placeholder="Filtro de pesquisa">
</div>

{{ range .Pages.ByPublishDate.Reverse }}
<div class="post-content" id="pc">
  <div class="post-info">
    <h2>
      <a class="font-125" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    <i>
     {{ partial "date-and-tags.html" . }}
    </i>
    <div class="post-summary">
      <p>
        {{ .Summary }}
      </p>
    </div>
  </div>
  <div class="post-related">
    <div class="related-tags">
       {{ partial "tags.html" . }}
    </div>
    <div class="read-more">
      <a class="font-125" href="{{ .RelPermalink }}">Leia mais </a>
    </div>
  </div>
 </div>
{{ end }}
{{ end }}
