{{ define "main" }}
{{ $script := "js/lateral-menu.js" | relURL }}

{{ if (ne .Title "About") }}
  <script type="text/javascript" src="{{ $script }}"></script>
{{ end }}

<div class="post-details">
  <h1>{{ .Title }}</h1>
  <br>
  {{ if (ne .Title "Sobre") }}
    {{ partial "date-and-tags.html" . }}
  <div class="table-contents" id="tc">
    <h3>Sumário</h3>
    <br>
    {{ .TableOfContents }}
  </div>
</div>
{{ end }}
<div class="main-content">
  <div class="post-content-details">
  {{ .Content }}
  </div>
  {{ if (ne .Title "Sobre") }}
  <aside>
      <div class="menu-table table-contents">
        <h3>Sumário</h3>
        {{ .TableOfContents }}
      </div>
      <li>
      </li>
  </aside>
  {{ end }}
</div>
<br>
<br>
<br>
{{ if (ne .Title "About") }}
{{ end }}

{{ end }}
