{{ define "main" }}

<div class="main-tags">
  <h1>{{ .Title }}</h1>
  <br>

  {{ range .Data.Terms.Alphabetical }}
  <p>
    <a href="{{ .Page.RelPermalink }}">
      {{ .Page.Title }} ({{ .Count }})
    </a>
  </p>
  {{ end }}
</div>

{{ end }}
