<head>
  <meta charset="utf-8">
  <title>Nöreng's - {{ .Title }}</title>
  <link rel="icon" type="image/jpg" href="../../imgs/berg.png">
  <link rel="stylesheet" href="static/css/index.css">
  {{ $css := "css/styles.css" | relURL }}
  {{ $dark := "js/dark.js" | relURL }}
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" type="text/css" href="{{ $css }}">

  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
  <script type="text/javascript" src="{{ $dark }}"></script>
  {{ range .Site.Params.customeJS }}
  <link rel="stylesheet" href="{{ . | absURL }}">
  {{ end }}
  {{ if .Site.Params.mathjax }}{{ partial "mathjax_support.html" . }}{{ end }}  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
