<nav class="nav-items" id="content">
  {{ range .Site.Menus.main }}
    {{ $text := .Name }}
    {{ $about := "about" }}
    {{ if (ne $text "Sobre") }}
      <a class="nav-left" href="{{ .URL }}">{{ $text }}</a>
    {{ else }}
      <a class="nav-right" href="{{ .URL }}">{{ $text }}</a>
    {{ end }}
  {{ end }}
</nav>
