{{ with .Params.tags }}
  {{ range . }}
  {{ $href := print (relURL "tags/") (urlize .) }}
  <div class="tag-item">
    <a class="btn btn-sm btn-outline-dark tag-btn" href="{{ $href }}">{{ . }}</a>
  </div>
  {{ end }}
{{ end }}
