{{ define "main" }}

<style>
	#ac {
		justify-self: center;
		align-items: center;
	}

	.home-section {
		margin-top: 7rem;
		justify-self: center;
		text-align: center;
		display: flex;
		align-items: center;
	}

	.center {
		width: 200px;
		height: 200px;
		margin-left: 25%;
		margin-right: 50%;
		display: block;
		border-radius: 15%;
	}	

	.quote-section {
		margin-left: 100px;
		max-width: 700px;
	}

	@media screen and (max-width: 860px) {
		.home-section {
			flex-direction: column;
		}

		.quote-section {
			margin-top: 2rem;
		}
	}

</style>

<body>
	<div class="home-section">
		<div class="img-section">
			<img src="imgs/home.png" class="center">
		</div>

		<div class="quote-section">
			<b>
			<i>Jo 14, 1-6</i>
			</b>
			<br>
			<br>
			<q>
				Não se agite vosso coração. Credes em Deus; crede também em mim. Na casa de meu Pai, há muitas moradas. Se assim não fosse, eu vos teria dito, porque vou para preparar‑vos um lugar. E, quando eu tiver ido e vos tiver preparado um lugar, virei novamente e vos levarei para junto de mim, a fim de que, onde eu estiver, estejais também vós. Para onde vou, conheceis o caminho”. Disse‑lhe Tomé: “Senhor, não sabemos para onde vais. Como podemos conhecer o caminho?” Disse‑lhe Jesus: “Sou eu o caminho, a verdade e a vida. Ninguém vai ao Pai senão por mim.
			</q>
		</div>
	</div>
</body>

{{ end }}
